.checkbox {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label::before {
      box-shadow: 0 0 5px var(--color-orange);
    }
    &:checked + .checkbox__label::after {
      transform: scale(0.9);
    }
  }

  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 2rem;
      width: 2rem;
      height: 2rem;
      border: 1px solid var(--color-orange);
      border-radius: 2px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 2px;
      background-color: var(--color-orange);
      transform: scale(0);
      transition: transform 0.3s ease 0s;
    }
  }

  &__text {
    small {
      color: var(--color-orange);
    }
  }
}
