* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /*  10px / 16px = .625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: var(--color-primary);
  margin-bottom: 2rem;
  &_centred {
    margin: 0 auto;
    margin-bottom: 6rem;
  }
}
