:root {
  --font-family: 'Gilroy';
  --color-main: #3a3a3a;
  --color-orange: #e89f71;
  --color-gray: #898989;
  --color-gray-dark: #616161;
  --max-width: 1440px;
  --max-width-container: 1270px;
  --md1: 1282px;
  --md2: 991.98px;
  --md3: 767.98px;
  --md4: 479.98px;
}
