:root {
  --font-family: 'Heebo';
  --color-primary: #ff6464;
  --color-dark: #21243d;
  --min-width: 320px;
  --max-width: 1152;
  --max-width-container: 856;
  --md-1: var(--max-width-container) + 12;
  --md-2: 991.98;
  --md-3: 767.98;
  --md-4: 479.98;
}
