.contact {
  background-color: #fff;
  padding: 4.2rem 0;
  &__body {
    @media (min-width: 767.98px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__content {
    padding-bottom: 2rem;
    @media (min-width: 767.98px) {
      padding-right: 2rem;
    }
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: calc(32 / 24 * 100%);
    margin-bottom: 1rem;
    letter-spacing: 0.1px;
  }
  &__text {
    color: var(--color-gray);
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
  }
  &__button {
    color: #fff;
    min-height: 5.8rem;
    padding: 0.5rem 4rem;
    background-color: var(--color-orange);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    &:hover {
      background-color: #aa5330;
    }
  }
}
