.greeting {
  padding-top: 128px;
  padding-bottom: 71px;
  &__container {
    display: flex;
    align-items: flex-start;
  }
  &__content {
    flex: 1 1 auto;
    padding-top: 18px;
    padding-right: 110px;
    *:last-child {
      margin-bottom: 0;
    }
  }
  &__heading {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__photo {
    flex: 0 0 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -5px 13px 0 0 #edf7fa;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
