.products-block {
  @include adaptive-value('margin-bottom', 120, 40, 1);
  &__container {
    display: grid;
    gap: 3rem;

    @media (min-width: 30em) {
      grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    }
  }
}

.product-block {
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: 29rem;
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    }
  }
  &__body {
    position: relative;
    z-index: 2;
    @include adaptive-value('padding', 30, 20, 1);
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  &__link-title {
    color: inherit;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    display: inline-block;
    &::after {
      content: '';
      width: 7rem;
      height: 0.2rem;
      display: block;
      margin-top: 1.5rem;
      background-color: var(--color-orange);
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__text {
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 4.5rem;
    }
    @media (min-width: 44em) {
      max-width: 26.5rem;
    }
  }
  &__button {
    @media (max-width: 44em) {
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(0, 8%);
    img {
      max-width: 100%;
    }
    @media (min-width: 44em) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}
